body{
    display: flex; /*The flex property sets the flexible length on flexible items*/
    flex-direction: column; /*The flex-direction property specifies the direction of the flexible items*/
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: #222;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}

.nav_header{
    background: #6cd4b5;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    margin-right: 70px;
    padding-top: 10px;
}

nav a{
    color: #080f0fe3
}

nav a:hover{
    color:rgba(81, 40, 105, 0.295)
}

.nav_bar{
    width: 100%;
    margin: 0 auto;
}

.title {
    font-size: 46pt;
    color: rgb(155, 170, 170);
}

.welcome{
    color: rgb(155, 170, 170);
}

.git{
    color:#6cd4b5
}